.header {
  width: 100%;
  height: 83px;
  background-color: $bg-header-mob;
  position: fixed;
  top: 0;
  z-index: 3;

  @media (min-width: $desktop) {
    height: 70px;
    min-height: 70px;
    background-color: $bg-menu-header;
  }
}

.header__wrap {
  @include wrap;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding-top: 19px;
  padding-bottom: 17px;
  position: relative;
}

.header__logo {
  width: auto;
}

.header__logo-img {
  display: block;
  width: 178px;
  height: 25px;
  margin-bottom: 6px;

  @media (min-width: $desktop) {
    width: 148px;
    height: 21px;
  }
}

.header__logo-text {
  font-family: $logo-font-face;
  font-size: $logo-font-size;
  color: $logo-font-color;
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 157px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3px;
  padding-top: 4px;
  padding-left: 12px;
  padding-right: 3px;
  border-top: 1px solid $logo-font-color;

  @media (min-width: $desktop) {
    width: 148px;
    letter-spacing: 5.3px;
  }
}
