.main-nav {
  @include abs(375px, auto);
  background-color: $bg-menu;
  left: 0;
  top: 83px;

  @media screen and (min-width: $desktop) {
    display: flex;
  }

  &--open {
    display: block;
  }
}

.main-nav__list {
  @include ul-rst;
  width: inherit;
}

.main-nav__item {
  padding: 15px 20px;
  border-bottom: 1px solid $logo-font-color;

  &:last-child {
    border: none;
  }

  .main-nav__item--btn {
    padding-top: 20px;
    margin-bottom: 5px;

    &:last-child {
      padding-bottom: 20px;
      margin-bottom: 0;
    }
  }
}

.main-nav__link {
  @include text(16px, 20px, $white);
  font-family: $menu-font-face;
  word-wrap: break-word;
  cursor: pointer;
  display: block;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
    text-shadow: 0px 5px 5px $black;
  }

  &--btn {
  @include text(18px, 18px, $white);
  text-align: center;
  border-radius: 17px;
  padding: 5px 45px;
  background-color: rgb(100, 200, 0);
  width: inherit;
  min-width: 204px;
  min-height: 32px;
  }
}

@media (max-width: $mobile-only) {
  .main-nav.main-nav--nojs {
  transform: translateX(0);
  }
}
