.main-nav {
  display: none;
}

.main-nav__toggle {
  width: 17px;
  height: 13px;
  border: none;
  border-radius: none;
  padding: 0;
  display: block;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  cursor: pointer;
}

.main-nav__toggle span {
  display: block;
  position: absolute;
  top: 5px;
  width: inherit;
  height: 2px;
  background-color: #ffffff;

  &::before,
  &::after {
    @include abs(100%, 2px)
    display: block;
    background-color: #ffffff;
    content: '';
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
  }

  &::before {
    top: -5px;
  }

  &::after {
    top: 5px;
  }
}

.main-nav__toggle--open span {
  background-color: transparent;

  &::before,
  &::after {
    transition-delay: 0s, 0.3s;
  }

  &::before {
    top: 0;
    transform: rotate(45deg);
  }

  &::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
