.send-request {
  background-color: $bg-form;
  margin-bottom: 134px;
  position: relative;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    background-image: url('../../img/decoration/bg-form-top.png');
    background-position: top 0;
    background-repeat: no-repeat;


    &::after{
      @include abs(1360px, 313px);
      content:'';
      background-image: url('../../img/decoration/bg-form-bottom.png');
      background-position-y: bottom;
      background-repeat: no-repeat;
      z-index: 0;
      bottom: 0;
    }
  }
}

.send-request__wrap {
  @include wrap;
  padding-top: 58px;
  position: relative;

  @media screen and (min-width: $desktop) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 86px;
    padding-bottom: 158px;
  }
}

.send-request__heading {
  @include heading($dark-grey, $steelblue);
  margin-bottom: 32px;

  @media screen and (min-width: $desktop) {
    padding: 0 80px;
    margin-bottom: 67px;
  }
}

.send-request__form {
  width: 100%;
  padding-bottom: 121px;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    z-index: 2;

    background-color: $white;
    padding-top: 54px;
    padding-bottom: 50px;
    padding-right: 60px;
    padding-left: 60px;
  }
}

.send-request__form-text {
  @include text(19px, 21.5px, $form-text-color);
  text-align: center;
  letter-spacing: 0.2px;
  margin-top: 0;
  margin-bottom: 25px;

  @media screen and (min-width: $desktop) {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 72px;
  }
}

.send-request__picture {
  display: block;
  width: 100%;
  max-width: 367px;
  margin: 0 auto 19px;

  @media screen and (min-width: $desktop) {
    position: absolute;
    margin-bottom: 0;
    width: 282px;
    max-width: 282px;
    left: 18px;
  }
}

.send-request__label {
  @include text(20px, 15px, $steelblue);
  display: block;
  font-family: $open-sans;
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    width: 100%;
    text-align: right;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 19px;

    &:last-of-type {
      margin-bottom: 38px;
    }
  }
}

.send-request__note {
  display: inline-flex;
  align-items: flex-start;
  margin-bottom: 18px;

  @media screen and (min-width: $desktop) {
    width: 115px;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.send-request__field {
  @include text (15px, 19px, $placeholder-color);
  width: 100%;
  height: 41px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 3px;
  border: $field-border;

  @media screen and (min-width: $desktop) {
    width: 462px;
  }
}

.send-request__field::placeholder {
  @include text (15px, 19px, $placeholder-color);
  font-family: $open-sans;

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 18px;
  }
}

.send-request__field:hover {
  border-color: $filed-border-hover;
}

.send-request__field:focus {
  outline: none;
  box-shadow: $filed-focus-shadow;
  border-color: $filed-focus-border;
  color: $field-active
}

.send-request__field:hover::placeholder  {
  color: $placeholder-hover;
}


.send-request__field:focus::placeholder {
  color: $placeholder-hover;
}

.send-request__field:disabled {
  background-color: $filed-disabled-bg;
  border-color: $filed-focus-border;
}

.send-request__field:disabled::placholder {
  color: $placeholder-hover;
}

.send-request__field[type=email]:disabled::placholder {
  color: $field-active;
}

.send-request__send {
  @include btn;
  border: 0;
  height: 41px;
  margin: 0 auto;
  line-height: 36px;

  @media screen and (min-width: $desktop) {
    margin: inherit;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: $placeholder-hover;
  }
}











