.slideshow {
  width: 100%;
  margin: 0 auto;
  min-height: 584px;
  padding-top: 83px;
  background-color: $black;
  position: relative;

  @media screen and (min-width: $desktop) {
    width: 100%;
    min-height: 530px;
    padding-top: 70px;
  }
}

.slideshow__list {
  @include ul-rst;
  width: inherit;
  min-height: inherit;
}

.slideshow__item {
  width: inherit;
  min-height: inherit;
  top: 0;
  left: 0;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 126px;
  padding-bottom: 40px;
  display: none;

  @media screen and (min-width: $desktop) {
    background-size: cover;
    padding-top: 162px;

    &::after {
      background-image: url('../../img/decoration/slide1.jpg');
      background-image: url('../../img/decoration/slide2.jpg');
      background-image: url('../../img/decoration/slide3.jpg');
    }
  }

  &--active {
    display: block;
  }

  &--slide1 {
    // Thepicture will change
    background-image: url('../../img/decoration/slide-mobile-1.jpg');

    @media screen and (min-width: $desktop) {
      background-image: url('../../img/decoration/slide1.jpg');
    }
  }

  &--slide2 {
    // Thepicture will change
    background-image: url('../../img/decoration/slide-mobile-1.jpg');

    @media screen and (min-width: $desktop) {
      background-image: url('../../img/decoration/slide2.jpg');
    }
  }

  &--slide3 {
    // Thepicture will change
    background-image: url('../../img/decoration/slide-mobile-1.jpg');

    @media screen and (min-width: $desktop) {
      background-image: url('../../img/decoration/slide3.jpg');
    }
  }
}

.slideshow__slide-heading {
  @include heading($white, $light-green);
  margin-bottom: 25px;

  @media screen and (min-width: $desktop) {
    font-size: 82px;
    line-height: 72px;
    letter-spacing: -5px;
    padding: 0px 200px;
    width: 960px;
    margin: 0 auto 3px;

    br {
      display: block;
    }
  }
}

.slideshow__text {
  @include text(20px, 25px, $white);
  padding: 0 23px;
  letter-spacing: 0.6px;
  margin-top: 0;
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    @include text(25px, 35px, $white);
    padding: 0px 200px;
    width: 960px;
    margin: 0 auto 66px;
  }
}

.slideshow__text-bold {
  @include text(18px, 20px, $white);
  font-family: $heading;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.5px;
  padding: 0 40px;

  span {
    color: $light-green;
  }

  @media screen and (min-width: $desktop) {
    line-height: 35px;
    padding: 0px 200px;
    width: 960px;
    margin: 0 auto;
  }
}

.slideshow__toggles {
  @include abs(34px, 16px);
  left: calc(50% - 23px);
  bottom: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    width: 45px;
    bottom: 21px;
  }
}

.slideshow__toggle {
  border: 0;
  padding: 0;
  border-radius: 50%;
  background-color: $white;
  width: 6px;
  height: 6px;

  @media screen and (min-width: $desktop) {
    width: 8px;
    height: 8px;
  }

  &--checked {
    width: 8px;
    height: 8px;
    background-color: $light-green;

    @media screen and (min-width: $desktop) {
      width: 12px;
      height: 12px;
    }
  }
}











