.testmonial {
  width: 100%;
  min-height: 895px;
  background-color: $white;

  @media screen and (min-width: $desktop) {
    min-height: 841px;
    background-image: url('../img/decoration/bg-testmonial.png');
    background-position: top 0;
    background-repeat: no-repeat;

  }
}

.testmonial__wrap {
  @include wrap;
  width: inherit;
  padding-top: 84px;
  padding-bottom: 63px;
  display: block;
  position: relative;
}

.testmonial__heading {
  @include heading($dark-grey, $steelblue);
  margin-bottom: 0;

  @media screen and (min-width: $desktop) {
    padding: 0 80px;
        margin-bottom: 22px;
  }
}

.testmonial__list {
  @include ul-line;
  width: inherit;
  position: relative;
  background-image: url('../img/decoration/carousel-bg-mobile.png');
  background-position: top center;
  background-repeat: no-repeat;

  @media screen and (min-width: $desktop) {
    margin-bottom: 48px;
  }
}

.testmonial__item {
  width: 100%;gi
  text-align: center;
  padding-top: 48px;

  @media screen and (min-width: $desktop) {
    padding-top: 45px;
    min-height: 540px;

  }
}

.testmonial__frame {
  margin: 0 auto 73px;
  padding-top: 14px;
  position: relative;
  width: 206px;
  height: 246px;
  background-color: $white;
  position: relative;
  z-index: 2;

  @media screen and (min-width: $desktop) {
    margin-bottom: 43px;
    padding-top: 11px;
    width: 194px;
    height: 233px;
    background-image: url('../img/decoration/polaroid-frame.png');
    background-position: 2px 0;
    background-repeat: no-repeat;

    &::before {
      @include abs(70px, 36px);
      content: '';
      background-image: url('../img/decoration/sticker.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      top: -18px;
      z-index: 0;
      left: calc(50% - 35px);
    }

   &::after{
      @include abs(158px, 18px);
      content: '';
      background-image: url('../img/decoration/polaroid-shadow.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      bottom: -16px;
      z-index: 0;
      left: 5px;
    }

    &--item-one::before {
      transform: scaleX(-1);
    }
  }
}

.testmonial__corner {
  @include abs(22px, 22px);
  border: 7px solid $testmonial-text;
  border-right: none;
  border-bottom: none;

  @media screen and (min-width: $desktop) {
    display: none;
  }

  &::before {
    position: absolute;
    content: '';
    border: 5px solid transparent;
    border-left: 5px solid $testmonial-text;
    border-top: 5px solid $testmonial-text;
    left: 0;
  }

  &--top-left {
    top: -7px;
    left: -7px;
  }

  &--top-right {
    transform: rotate(90deg);
    top: -7px;
    right: -7px;
  }

  &--bottom-left {
    transform: rotate(-90deg);
    bottom: -7px;
    left: -7px;
  }

  &--bottom-right {
    transform: rotate(180deg);
    bottom: -7px;
    right: -7px;
  }
}

.testmonial__photo {
  width: 184px;
  height: 187px;
  display: inline-block;

  @media screen and (min-width: $desktop) {
    width: 173px;
    height: 175px;
  }
}

.testmonial__text {
  @include text (19.14px, 27.67px, $testmonial-text);
  letter-spacing: 0.1px;
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 15px;

  @media screen and (min-width: $desktop) {
    padding: 0 10px;;    font-size: 18px;
    line-height: 26px;
    margin-bottom: 19px;
  }
}

.testmonial__profession {
  @include text (24px, 24px, $steelblue);
  letter-spacing: 0.15px;
  margin-bottom: 68px;

  span {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
  }
}

.testmonial__btn {
  @include btn;
  margin: 0 auto;
}

