@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans.woff')
  format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.woff')
  format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/Proxima-Nova-Regular.woff')
  format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'TradeGothic';
  src: url('../fonts/TradeGothic-BoldCondTwenty.woff')
  format('woff');
  font-display: swap;
}
