@mixin wrap {
  height: inherit;
  min-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $desktop) {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin abs ($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
}

@mixin abs-center ($width, $height) {
  width: $width;
  height: $height;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  margin: 0 auto;
}

@mixin ul-rst {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin ul-line {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  align-items: center;
}

@mixin text($font-size, $line-height, $font-color) {
  font-size: $font-size;
  color: $font-color;
  line-height: $line-height;
}

@mixin btn {
  text-align: center;
  border-radius: 17px;
  padding: 5px 41px;
  background-color: $light-green;

  &:hover {
    text-decoration: none;
    background-color: $green;
  }

  &:focus {
    background-color: $white;
    color: $btn-focus-txt;
    box-shadow: $btn-focus-shadow;
    outline: none;
  }

  &:active {
    text-shadow: none;
    background-color: $dark-green;
    color: $white;
    box-shadow: none;
  }
}
