$mobile-only: 959px;
$desktop: 960px;

$white: #ffffff;
$black: #000000;

$bg-header-mob: #2a2a34;
$bg-menu-header: #3f4049;
$bg-form: #f4f6f9;

$logo-font-face: 'ProximaNova', 'Arial', sans-serif;
$logo-font-size: 10.54px;
$logo-font-color: #a8a8a8;

$menu-font-face: 'Open Sans', 'Arial', sans-serif;
$heading: 'TradeGothic', 'Arial', sans-serif;
$base-ff: 'MyriadPro', 'Arial', sans-serif;
$base-fs: 16.5px;
$base-lh: 17.5px;

$btn-focus-txt: #888888;
$btn-focus-shadow: 1px 1px 67px 0.07px rgba(103, 173, 33, 0.5);

$color-link-disabled: #fcfefd;

$light-green: #64c800;
$green: #67ad21;
$dark-green: #497f12;
