$mobile-only: 959px;
$desktop: 960px;

$white: #ffffff;
$black: #000000;

$bg-header: #2a2a34;
$bg-menu: #3f4049;

$logo-font-face: 'ProximaNova', 'Arial', sans-serif;
$logo-font-size: 10.54px;
$logo-font-color: #a8a8a8;

$menu-font-face: 'Open Sans', 'Arial', sans-serif;
$color-link-disabled: #fcfefd;
$font-size: 16px;
$line-height: 16px;
$bg-color: #aecad5;
$font-color: #00aeff;
