$desktop: 960px;

$logo-font-face: 'ProximaNova', 'Arial', sans-serif;
$logo-font-size: 10.54px;
$logo-font-color: #a8a8a8;

$font: 'Open Sans', 'Arial', sans-serif;
$font-size: 16px;
$line-height: 16px;
$bg-color: #aecad5;
$font-color: #00aeff;
;
